:root{
    color: #f5f5f5;
    background: rgb(168, 164, 164);
}
header{
    background-color: rgb(20, 19, 19);
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin: 10px auto;
    padding: 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    
}
nav ul li:hover{
  background-color:rgba(83, 108, 219, 0.4);
  color:rgb(20, 19, 19);
}

.hero{
    background-image: url('/images/background-page.jpg');
    background-position: center;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1,
.hero p.tagline{
    color: #fff;
    text-align: center;
}


.showcase-container h2{
    text-align: center;
    width: 100%;
}
.top-left-corner,
.top-right-corner,
.bottom-left-corner,
.bottom-right-corner{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.showcase-container .center{
    position: absolute;

}
.col-md-6{
    padding-left: 0;
    padding-right: 0;
}
.img-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20vw;
}
.top-left-corner .img-background{
    background-color: rgba(37, 81, 62, 0.4);
}
.top-right-corner .img-background{
    background-color: rgba(54, 100, 110, 0.4);
}
.bottom-left-corner .img-background{
    background-color: rgba(137, 61, 126, 0.4);
}
.bottom-right-corner .img-background{
    background-color: rgba(83, 108, 219, 0.4);
}

.top-left-corner:hover{
    background-image: url('/images/top-left.jpg');
}
.top-right-corner:hover{
    background-image: url('/images/top-right.jpg');
}
.bottom-left-corner:hover{
    background-image: url('/images/bottom-left.jpg');
}
.bottom-right-corner:hover{
    background-image: url('/images/bottom-right.jpg');
}